includes:
    - 'vendor/phpstan/phpstan-phpunit/extension.neon'
    - 'vendor/phpstan/phpstan-phpunit/rules.neon'
    - 'vendor/phpstan/phpstan-doctrine/extension.neon'
parameters:
    level: 8
    excludePaths:
        - '%rootDir%/../../../Tests/*'
        - '%rootDir%/../../../vendor/*'
        - './vendor/*'
    fileExtensions:
        - 'php'
